
body{
     background-image: url("/images/zebra.jpeg");
     background-size:cover;
     color:blanchedalmond;

}

nav a{
    font-size:1.2em;
    margin-right:30px;

}



.head{
    width:50%;
    margin:auto;
    letter-spacing:10px;
    margin-top:270px;

}

.form{
   background-color:rgb(109, 63, 3);
    width:50%;
    margin:auto;
    margin-top:50px;
    padding-left:10%;
    text-align:center;
}
hr{
 background-color:blanchedalmond;
}
.form-group{
    width:60%;
    margin:auto;
    margin-top:30px;
    font-size:1.8em;
}
.container-fluid{
    background-color:rgb(109, 63, 3);
}




.container-fluid p{
    font-size:1.2em;
}
.container-fluid li{
    font-size:1.2em;
}
.entries a{
    margin-right:30px
}
.views.animals{
   display: flex;
   flex-wrap: wrap;

}
.card{
    margin-right:20px;
}
.views.sightings{
    background-color:rgb(109, 63, 3);
}
