<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Wildlife Tracker{{/block}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/popper.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-muted">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item  ">
                <a class="nav-link "style="color:white;">Create</a>
                <div style="font-family: 'Shadows Into Light', cursive;">
<!--                    <a class="" href="/create/ranger"style="color:white;">Ranger</a>-->
<!--                    <a class="" href="/create/animal"style="color:white;">Animal</a>-->
<!--                    <a class="" href="/create/location"style="color:white;">Location</a>-->
                    <a class="" href="/create/Endangeredanimals"style="color:white;">Endangered</a>
                    <a class="" href="/create/sighting"style="color:white;">Sighting</a>
                </div>
            </li>


            <li class="nav-item " style="margin-left:500px;">
                <a class="nav-link " role="button"
                   data-toggle="" aria-haspopup="true" aria-expanded="false"style="margin-left:100px;color:white;">View</a>
                <div class="" aria-labelledby=""style="font-family: 'Shadows Into Light', cursive;">
<!--                    <a class="" href="/view/rangers"style="color:white;">Ranger</a>-->
<!--                    <a class="" href="/view/animals"style="color:white;">Animal</a>-->
                    <a class="" href="/view/Endangeredanimals"style="color:white;">Endangered</a>
<!--                    <a class="" href="/view/locations"style="color:white;">Location</a>-->
<!--                    <a class="" href="/view/sightings"style="color:white;">Sighting</a></div>-->
            </li>

        </ul>
    </div>
</nav>

<div class="main-content">
    {{#block "content"}}
    {{/block}}

</div>


{{#block "footer"}}
    </body>
    </html>
{{/block}}