{{#partial "content"}}
    <div class="views sightings">

        <h1 style="text-align:center;">Sightings</h1>


        <div class=" row" >

            {{#if sightings}}
                <div class="col-md-7">
                    <h3>Time</h3>
                    {{#each sightings as |s|}}
                        <h3>{{s.time}}</h3>
                    {{/each}}
                </div>
                <hr>
                <div class="col-md-3">
                    <h3>Animals</h3>

                    {{#each animals as |a|}}
                        <h3>{{a}}</h3>
                    {{/each}}

                </div>

            {{else}}
                <h1>No sightings!! Create some <a href="/create/sighting">here</a> </h1>

            {{/if}}

        </div>
    </div>

{{/partial}}
{{> layout.hbs}}
